<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="d:\home\site\wwwroot\go\bin\go.exe" 
                      arguments="run d:\home\site\wwwroot\src\main\server.go" 
                      startupTimeLimit="60">
            <environmentVariables>
              <environmentVariable name="GO15VENDOREXPERIMENT" value="1" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>